@model Assessment_EF.Common.Table

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table-bordered table-hover">
    <tr>
        <th>Department</th>
        <th style="margin-left:20px">Employees</th>
    </tr>
    <tr>
        <th>
            Department Name
        </th>
        <th>
            <span style="margin-left:10px">Id</span>
            <span style="margin-left:50px">Name</span>
            <span style="margin-left:160px">Position</span>
        </th>
    </tr>

    @foreach(var item in Model.dept)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                <table class="table">
                    @foreach(var i in Model.emp)
                    {
                        if(item.Id == i.DepartmentId)
                        {
                            <tr>
                                <td width="70px">
                                    @Html.DisplayFor(modelItem => i.Id)
                                </td>
                                <td width="200px" >
                                    @Html.DisplayFor(modelItem => i.Name)
                                </td>
                                <td width="200px">
                                   @Html.DisplayFor(modelItem => i.Position)
                                </td>
                            </tr>
                        }
                    }
                </table>
            </td>
        </tr>
    }
</table>